[user]
  name  = Nikola Đuza
  email = nikolaseap@gmail.com

[credential]
  helper = GIT_CREDENTIAL_HELPER

[alias]
  a    = add
  all  = add -A
  st   = status -sb
  ci   = commit -m
  ca   = commit --amend
  br   = branch
  bd   = branch -D
  co   = checkout
  cb   = checkout -b
  df   = diff
  dfc  = diff --cached
  lg   = log --pretty=format:'%C(yellow)%h%Creset %Cgreen(%><(12)%cr%><|(12))%Creset - %s %C(blue)<%an>%Creset'
  pl   = pull
  ps   = push
  f    = fetch
  undo = reset --soft HEAD^
  sta  = stash
  stap = stash apply
  uall = reset .
  rbm  = pull --rebase origin master
  rbc  = rebase --continue
  rbs  = rebase --skip
  rba  = rebase --abort
  cln  = !git branch | grep -v 'master' | xargs git branch -D

[color]
  diff   = auto
  status = auto
  branch = auto
  ui     = true

[core]
  excludesfile = ~/.gitignore
  editor       = vim
  whitespace   = cr-at-eol

[apply]
  whitespace = nowarn

[mergetool]
  keepBackup = false

[difftool]
  prompt = false

[help]
  autocorrect = 1

[pull]
  default = current

[push]
  default = current

[commit]
  gpgsign = true
